/* Write your CSS here */
.app-bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.google-logo {
  width: 50%;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
